


.page-nav{
    height: 100px; 
    background-color: #048665 !important;
}

.page-title{
    font-size: 30px; 
    color: whitesmoke !important;
}

.hdf-row{
    margin-top: 30px;
    display: flex;
    
}

.error-msg h4{
    color: red
}

.error-msg ul{
    color: red
}

.hdf-close{
    color:#00000038;
    margin-left:20px;
    text-decoration:none;
    font-size:20px;
}

.simple_form{
    display: grid;
    width:auto;
}
.simple_form label {
    min-width:100%;
    text-align: justify;
  }
  
  .simple_form div.input {
    min-width:100%;
    
  }

  .simple_form {
    
    .error_notification{
        color: red;
        font-style: italic;
        min-width:100%;
    }

    .error::before{
        content: "\a";
        white-space: pre;
    }

    .error{
        color: red;
        font-style: italic;
        min-width:100%;
    }

    
  }