
<% flash.each do |key, message| %>
  <div class="alert <%= flash_class(key) %> alert-dismissible fade show text-center" role="alert">
    <%= message %>
    <a href="/" class="close hdf-close" data-dismiss="alert" aria-label="close">&times;</a>
  </div>
<% end %>
